<html lang="en" layout:decorator="backend/layouts/default_layout">
<head>
    <title>Add Student</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="container-fluid">
            <div class="row card-header my-3">
                <div class="col-md-6">
                    <h3>Add Student</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="student" class="btn btn-lg btn-warning">Back</a>
                </div>
            </div>

            
            <form>
                <div class="form-group row">
                    <label for="firstname" class="col-sm-3 col-form-label">firstname</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="">
                    </div>
                    <label for="lastname" class="col-sm-3 col-form-label">lastname</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="">
                    </div>
                    <label for="email" class="col-sm-3 col-form-label">email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="email" id="email" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>

        </div>
        
    </div>

</body>
</html>