<html lang="en" layout:decorator="backend/layouts/default_layout">
<head>
    <title>Student</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="container-fluid">
            <div class="row card-header my-3">
                <div class="col-md-6">
                    <h3>List Student</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/newstudent" class="btn btn-success">Add Student</a>
                </div>
            </div>
            
            
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Huawei P30 Pro</td>
                    <td>31,500.00</td>
                    <td>25</td>
                    <td style="width: 160px;">
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Samsung Note 10 Lite</td>
                    <td>28,500.00</td>
                    <td>5</td>
                    <td style="width: 160px;">
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>


        </div>
        
    </div>

</body>
</html>