<html lang="en" layout:decorator="backend/layouts/default_layout">
<head>
    <title>Student</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="container-fluid">
            <div class="row card-header my-3">
                <div class="col-md-6">
                    <h3>List Student</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/newstudent" class="btn btn-success">Add Student</a>
                </div>
            </div>
            
            
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student:${listStd}">
                    <td th:text=${student.id}></td>
                    <td th:text=${student.firstname}></td>
                    <td th:text=${student.lastname}></td>
                    <td th:text=${student.email}></td>
                    <td style="width: 160px;">
                        <a th:href="@{'/editstudent/id/' + ${student.id}}" class="btn btn-warning">Edit</a>
                        <a th:href="@{'/deletestudent/id/' + ${student.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>


        </div>
        
    </div>

</body>
</html>