<div th:fragment="footer">
    <div class="bg-secondary py-4">
        <footer class="container-fluid">
            <div class="row text-light">
                <div class="col-md-6">&copy;CopyRight 2020-Forever by iMM</div>
                <div class="col-md-6 text-right">www.imm.org</div>
            </div>
        </footer>
    </div>

    <script src="/lib/jquery/jquery-3.4.0.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/chartjs/Chart.min.js"></script>
    <script src="/js/chartdata.js"></script>
</div>