<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <div th:replace="backend/fragments/header::header"></div>
</head>
<body>
    <div th:replace="backend/fragments/navigation::navigation"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div th:replace="backend/fragments/sidebar::sidebar"></div>
            </div>
            <div class="col-md-9">
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>

    <div th:replace="backend/fragments/footer::footer"></div>
</body>
</html>